---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import Features3 from '~/components/widgets/Features3.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
// Images loading
import MeasurementLabLogo from '~/assets/images/measurement_lab-logo.png';
import SuperbloomDesignLogo from '~/assets/images/superbloom_design-logo.png';
import LabourGeographyResearchLabLogo from '~/assets/images/labour_geography_lab-logo.png';
import UniversityOfTheAegeanLogo from '~/assets/images/university_of_the_aegean-logo.png';
import AuthLogo from '~/assets/images/auth-logo.png';
import DatalabLogo from '~/assets/images/datalab-logo.png';
import ExantaLogo from '~/assets/images/exanta-logo.png';

import VariableProximity from '~/components/widgets/VariableProximity';
import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'PiQ Mind',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="" actions={[]}>
    <VariableProximity
      client:load
      label={'Thinking in Systems. Delivering Insight.'}
      className="variable-proximity-demo"
      fromFontVariationSettings="'wght' 400, 'opsz' 9"
      toFontVariationSettings="'wght' 1000, 'opsz' 40"
      radius={100}
      falloff="linear"
      style={{ fontSize: '4.5rem', lineHeight: '0.9' }}
      fromColor="#2F3940"
      toColor="#6b8df2"
    />
    <!-- <Fragment slot="title"> Thinking in Systems. Delivering Insight. </Fragment> -->

    <!-- <Fragment slot="subtitle">
      Step into the spotlight with <span class="font-semibold">Astrowind</span> templates, your pathway to fortifying your
      startup's digital footprint, fostering credibility, and expanding your reach.
    </Fragment> -->

    <!-- <Fragment slot="image">
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment> -->
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="About us"
    subtitle="PiQ Mind is a technology studio creating intelligent solutions that turn complexity into actionable insight. We combine software engineering, data science, and analytics to deliver solutions that are practical, innovative and impactful."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-100 dark:bg-transparent"></div>
    </Fragment>
    <!-- <div slot="callToAction" class="mt-6 flex justify-center">
      <Button variant="primary" text="Read more..." href="/about" icon="tabler:user-question" />
    </div> -->
  </Features2>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  /> -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Service & Tools"
    subtitle=""
    columns={3}
    items={[
      {
        title: 'Data analytics & AI',
        description:
          'From statistical modeling to AI, we apply advanced analytics to turn complex data into clear, actionable insight — delivered through structured dashboards, visualizations, and decision-ready reports.',
        icon: 'tabler:clipboard-data',
      },
      {
        title: 'Research & Development',
        description:
          'We engage in applied research, experimentation, piloting, and collaborative R&D projects — turning rigorous ideas to real-world solutions.',
        icon: 'tabler:settings-search',
      },
      {
        title: 'Meet our tools…',
        description:
          '…to assess global Internet performance, explore socioeconomic indicators, or interact with complex datasets.',
        icon: 'tabler:tools',
      },
    ]}
    callToAction1={{
      variant: 'primary',
      text: 'Discover our tools',
      href: '/tools',
      icon: 'tabler:tools',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2 title="News" subtitle="We share updates on our work, collaborations, and developments.">
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-100 dark:bg-transparent"></div>
    </Fragment>
    <div slot="callToAction" class="mt-6 flex justify-center">
      <Button variant="primary" text="Explore news" href="/news" icon="tabler:news" />
    </div>
  </Features2>

  <!-- Brands Widget ****************** -->

  <Brands
    title="Partnerships & Collaborations"
    subtitle=""
    icons={[]}
    images={[
      {
        src: MeasurementLabLogo,
        alt: 'Measurement Lab',
        link: 'https://www.measurementlab.net/',
      },
      {
        src: SuperbloomDesignLogo,
        alt: 'Superbloom Design',
        link: 'https://superbloom.design/',
      },
      {
        src: ExantaLogo,
        alt: 'Exanta',
        link: 'https://exanta.io/',
      },
      {
        src: DatalabLogo,
        alt: 'Datalab',
        link: 'https://datalab.csd.auth.gr/',
      },
      {
        src: AuthLogo,
        alt: 'Aristotle University of Thessaloniki',
        link: 'https://www.auth.gr/',
      },
      {
        src: LabourGeographyResearchLabLogo,
        alt: 'Labour Geography Research Lab',
        link: 'https://lgrl.aegean.gr/',
      },
      {
        src: UniversityOfTheAegeanLogo,
        alt: 'University of the Aegean',
        link: 'https://www.aegean.gr/',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="What services do we provide?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: 'Installation Instructions',
        description:
          'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Demo and Previews',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Technical Support',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What are landing page templates?',
        description:
          'Landing page templates are pre-designed web page layouts that are specifically created to serve as a foundation for building effective landing pages. These templates are designed to capture the attention of visitors and guide them towards a specific action or goal, such as signing up for a newsletter, making a purchase, or downloading a resource.',
      },
      {
        title: 'Why should I use a template?',
        description:
          'Some of the advantages are that they provide a ready-to-use structure,  saving you significant time. Are designed with user-friendliness in mind and provide a cost-effective alternative, saving you money while still delivering a quality result.',
      },
      {
        title: 'Can I preview templates before buying?',
        description:
          'Yes, the templates allow you to preview them before making a purchase. There is a "Demo" button associated with each template.',
      },
      {
        title: 'Do I need technical skills to use a template?',
        description:
          'Advanced technical skills are not required to use a template, but having a basic understanding of web navigation and familiarity with using online tools can still be beneficial. If you have more specific customization needs, you might need to consult guides or reach out to customer support for assistance.',
      },
      {
        title: 'Can I use the template on multiple websites?',
        description:
          'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
      },
      {
        title: 'What if I need help with customization?',
        description:
          "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs> -->

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with sales',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with support',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        // target: '_blank',
        text: 'Contact us',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">Have a question?</Fragment>

    <Fragment slot="subtitle"> If you have any questions, please feel free to contact us. </Fragment>
  </CallToAction>
</Layout>
